body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    background: url(img/background_feedback.JPG) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: #fff solid 1px;
    padding-top: 30px;
    padding-bottom: 10px;

}


.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}


.nav {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
}


.nav__link {
    display: flex;
    margin: 0 15px;
    color: #fff;
    opacity: 0.8;
    font-weight: normal;
    text-decoration: none;
}

.nav__link:active {
    opacity: 1;
    border-bottom: 2px solid #ffffff;
    

}

.nav__link:hover {
    opacity: 1;
    border-bottom: 2px solid #ffffff;
    

}


.content {
    width: 50%;
    /* text-align: right;
    margin-left: auto; */
    /* margin-right: 0; */
    margin-top: 50px;


}

.learn_more {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}



il li {
    font-size: 18px;
    font-weight: bold;
}

#last {
    margin-bottom: 40px;
}

footer {
    display: flex;
    flex: 0 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .nav__link {
    margin: 0 25px;
}

.form-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}



/* Feedback page */

.feedback {
    background: url(img/background_feedback.JPG) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    color: #ffffff;

}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

textarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

#button-submit {
    background-color: rgb(222, 216, 208);
    width: 100px;
    outline: none;
    text-decoration: none;
    border: 2px solid rgb(45, 84, 57);
    border-radius: 5px;
    
}


.login-button {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    background-color: rgb(79, 94, 75);
    padding: 7px 15px;
    text-transform: none;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 20px;
    
}

.but {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}


/* auth */

.form-auth {
    margin-bottom: 50px;
}

.remember {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

#login {
    margin-bottom: 20px;
}



