body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(225, 222, 222);

    font-size: 15px;
    line-height: 1.6;
    color: #000;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    /* background: url(img/rusnia.jpg) no-repeat center center fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: #000 solid 1px;
    padding-top: 30px;
    padding-bottom: 10px;

}

a {
    color:#000;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.header__logo-img {
    width: 70px;
    height: 70px;
}

.header p {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 30px;
    margin-left: 50px;
}

.nav {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
}


.nav__link {
    display: flex;
    margin: 0 15px;
    opacity: 0.8;
    font-weight: normal;
    text-decoration: none;
}

.nav__link:active {
    opacity: 1;
    border-bottom: 2px solid #000;
    

}

.nav__link:hover {
    opacity: 1;
    border-bottom: 2px solid #000;
    

}


.content {
    font-size: 20px;
    height: 100%;
    /* text-align: right;
    margin-left: auto; */
    /* margin-right: 0; */
    margin-top: 50px;


}

.learn_more {
    font-size: 20px;
    font-weight: bold;
}



il li {
    font-size: 18px;
    font-weight: bold;
}

#last {
    margin-bottom: 40px;
}

footer {
    display: flex;
    /* flex: 0 0 auto; */
    height: 80px;
    /* margin-top: -80px; */

    
    /* padding-bottom: 50px; */
}

footer .nav__link {
    margin: 0 25px;
}

.form-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.func_table {
    border-color: #000;
}

.block_func {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block_func-item {
    border: red solid 2px;
    margin-right: 8px;
    padding: 5px;
}

.func_const {
    margin-top: 30px;
    margin-left: 0px;
}

/* Feedback page */

.feedback {
    background: url(img/background_feedback.JPG) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    color: #000;

}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

textarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

#button-submit {
    background-color: rgb(222, 216, 208);
    width: 100px;
    outline: none;
    text-decoration: none;
    border: 2px solid rgb(45, 84, 57);
    border-radius: 5px;
    
}


.login-button {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    background-color: rgb(41, 38, 38);
    padding: 7px 15px;
    text-transform: none;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 20px;
    
}

.but {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}


/* auth */

.form-auth {
    margin-bottom: 50px;
}

.remember {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

#login {
    margin-bottom: 20px;
}



